<%include ../partials/header %>

<!-- HEADER -->
<div class="container">
	<h1>Editing <%=user.fullname%></h1>
</div>

<!-- FORM -->
<div class="container">
	<form action="/users/<%=user._id%>?_method=PUT" method="POST">
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Username</span>
			</div>
			<input type="text" class="form-control" name="user[username]" value="<%=user.username%>">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Password</span>
			</div>
			<input type="text" class="form-control" value="Password editing coming soon to a commit near you!" disabled>
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
			  <span class="input-group-text">Name</span>
			</div>
			<input type="text" class="form-control" name="user[fullname]" value="<%=user.fullname%>">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Email</span>
			</div>
			<input type="text" class="form-control" name="user[email]" value="<%=user.email%>">
		</div>
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text">Phone</span>
			</div>
			<input type="tel" class="form-control" name="user[contact]" value="<%=user.contact%>">
		</div>
		<button type="submit" class="btn btn-lg btn-primary btn-block">Change</button>
	</form>
</div>

<%include ../partials/footer %>