<%include ../partials/header %>

<!-- HEADER -->
<div class="container">
	<h1><%=user.fullname%></h1>
</div>

<!-- USER INFO -->
<div class="container">
	<div>Username: <%=user.username%></div>
	<div>Email: <%=user.email%></div>
	<div>Phone: <%=user.contact%></div>
</div>
<div class="container">
	<a role="button" href="/users/<%=user._id%>/edit" class="btn btn-outline-primary">Edit</a>
	<form action="/users/<%=user._id%>?_method=DELETE" method="POST">
		<button class="btn btn-danger">Delete</button>
	</form>
</div>
<%include ../partials/footer %>
