<%include ../partials/header %>

<!-- HEADER -->
<div class="container">
	<h1>Universities</h1>
	<p>Click on the university name to see their page.</p>
</div>

<!-- TABLE -->
<div class="container">
	<table class="table table-hover">
		<thead>
			<tr>
				<th>University Name</th> 
				<th>Number of Essays</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<%unis.forEach(function(uni) {%>
			<tr>
				<td><a href="/unis/<%=uni._id%>"><%=uni.name%></a></td>
				<td><%=uni.essays_num%></td>

				<td><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Uni<%=uni._id%>">
					Details
				</button></td>
			</tr>
			<%});%>
		</tbody>
	</table>
</div>

<div class="container">
	<a role="button" class="btn btn-outline-primary btn-block" href="/users/<%=currentUser._id%>/unis/new">Add University</a>
</div>

<!-- MODALS -->
<%unis.forEach(function(uni) {%>
<div class="modal fade" id="Uni<%=uni._id%>"> <!-- Make sure the ID starts with a letter! -->
	<div class="modal-dialog modal-lg">
		<div class="modal-content">

			<div class="modal-header">
				<h2 class="modal-title"><%=uni.name%></h2>
			</div>

			<div class="modal-body">
				<%=uni.name%> has the following essays:
				<table class="table table-hover">
					<thead>
						<tr><th>Essays</th></tr>
					</thead>
					<tbody>
						<%uni.essays.forEach(function(essay) {%>
						<tr>
							<td><%=essay.name%></td>
						</tr>
						<%});%>
					</tbody>
				</table>
			</div>

			<div class="modal-footer">
				<a role="button" href="/unis/<%=uni._id%>/add" class="btn btn-primary mr-auto">Add Essay</a>
				<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<%});%>

<%include ../partials/footer %>